:root {
    --black-2: rgba(0, 0, 0, 0.729);
    --black: rgba(0, 0, 0, 1);
    --eden: rgba(14, 99, 79, 1);
    --pacific-blue: rgba(21, 164, 195, 1);
    --eerie-black: rgba(29, 31, 34, 1);
    --shark: rgba(41, 41, 41, 1);
    --shark-2: rgba(42, 42, 42, 1);
    --emerald: rgba(94, 206, 123, 1);
    --manatee: rgba(141, 143, 154, 1);
    --mercury: rgba(229, 229, 229, 1);
    --zest: rgba(223, 128, 32, 1);
    --white-2: rgba(255, 255, 255, 0.2);
    --white: rgba(255, 255, 255, 1);
  
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 30px;
    --font-size-xxl: 42px;
    --font-size-xxxl: 12xpx;
  
    --font-family-raleway: "Raleway";
    --font-family-roboto: "Roboto";
    --font-family-roboto-condensed-bold: "Roboto Condensed-Bold";
    --font-family-source-sans-pro: "Source Sans Pro";
  }
  
  @import url("https://googleapis.com/css?family=Roboto:400,700,500|Raleway:400,700,300,500,600|Source+Sans+Pro:400");
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .header-desktop {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 80px;
    min-width: 1440px;
    padding: 0 101px;
    position: relative;
  }
  
  .header__navigation {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    position: relative;
    width: 234px;
  }
  
  .header-elements-desktop-buttons {
    align-items: flex-end;
    display: flex;
    height: 56px;
    width: 97px;
  }
  
  .padding {
    background-color: var(--emerald);
    height: 2px;
    width: 16px;
  }
  
  .label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 52px;
    width: 65px;
  }
  
  .label-1 {
    height: 20px;
    letter-spacing: 0;
    line-height: 120px;
    min-width: 65px;
    text-align: center;
    white-space: nowrap;
  }
  
  .border {
    background-color: var(--emerald);
    height: 2px;
    margin-top: 30px;
    width: 65px;
  }
  
  .header-elements-desktop-buttons-1 {
    align-items: flex-end;
    display: flex;
    height: 56px;
    width: 69px;
  }
  
  .padding-1 {
    background-color: var(--emerald);
    height: 2px;
    width: 16px;
  }
  
  .label-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 52px;
    width: 37px;
  }
  
  .label-3 {
    height: 20px;
    letter-spacing: 0;
    line-height: 120px;
    min-width: 37px;
    text-align: center;
    white-space: nowrap;
  }
  
  .border-1 {
    background-color: var(--emerald);
    height: 2px;
    margin-top: 30px;
    width: 37px;
  }
  
  .header-elements-desktop-buttons-1 .header-elements-desktop-buttons-2 {
    width: 68px;
  }
  
  .header-elements-desktop-buttons-1 .header-elements-desktop-buttons-2 .label-2,
  .header-elements-desktop-buttons-1
    .header-elements-desktop-buttons-2
    .border-1 {
    width: 36px;
  }
  
  .header-elements-desktop-buttons-1 .header-elements-desktop-buttons-2 .label-3 {
    min-width: 36px;
  }
  
  .vsf {
    align-items: flex-start;
    display: flex;
    margin-left: 369px;
    margin-top: 9px;
    overflow: hidden;
    width: 31px;
  }
  
  .group {
    align-items: flex-end;
    background-image: url(svg-1-5.png);
    background-size: 100% 100%;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin-top: 0;
    min-width: 31px;
    padding: 8.6px 6.9px;
  }
  
  .svg-container {
    height: 12px;
    position: relative;
    width: 16px;
  }
  
  .brand-icon {
    height: 9px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 14px;
  }
  
  .svg-20 {
    height: 3px;
    left: 11px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 400px;
    margin-top: 6px;
    min-width: 204px;
    position: relative;
  }
  
  .layout-spacer-xl {
    align-self: flex-end;
    height: 40px;
    margin-bottom: -3px;
    width: 40px;
  }
  
  .group-1 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 83px;
    min-width: 38px;
  }
  
  .price {
    height: 29px;
    letter-spacing: 0;
    line-height: 160px;
    min-width: 12px;
    white-space: nowrap;
  }
  
  .dropdown {
    height: 3px;
    margin-left: 10px;
    margin-top: 6px;
    width: 6px;
  }
  
  .icon-empty-cart {
    align-items: flex-end;
    display: flex;
    height: 20px;
    margin-left: 22px;
    padding: 0.8px 0;
    width: 20px;
  }
  
  .cart {
    height: 18px;
    width: 20px;
  }
  
  .raleway-normal-eerie-black-30px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-medium-eerie-black-24px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-l);
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-eerie-black-24px {
    color: var(--eerie-black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
  }
  
  .raleway-light-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  
  .raleway-medium-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
  }
  
  .sourcesanspro-normal-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-source-sans-pro);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-normal-eerie-black-42px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
  }
  
  .sourcesanspro-normal-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-source-sans-pro);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-semi-bold-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .sourcesanspro-normal-shark-16px {
    color: var(--shark);
    font-family: var(--font-family-source-sans-pro);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  
  .sourcesanspro-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-source-sans-pro);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway--bold-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-bold-eerie-black-32px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
  }
  
  .sourcesanspro-normal-white-16px {
    color: var(--white);
    font-family: var(--font-family-source-sans-pro);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold-white-124px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-light-eerie-black-18px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  
  .raleway-semi-bold-emerald-16px {
    color: var(--emerald);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
  }
  
  .raleway-semi-bold-eerie-black-30px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
  }
  
  .roboto-normal-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-medium-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  
  .robotocondensed-bold-eerie-black-18px {
    color: var(--eerie-black);
    font-family: var(--font-family-roboto-condensed-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-normal-eerie-black-24px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-light-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-normal-eerie-black-24px {
    color: var(--eerie-black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-medium-eerie-black-18px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  
  .border-1px-eerie-black {
    border-width: 1px;
    border-style: solid;
    border-color: var(--eerie-black);
  }
  
  .raleway-normal-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-semi-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .raleway-normal-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  
  .border-1px-emerald {
    border-width: 1px;
    border-style: solid;
    border-color: var(--emerald);
  }
  
  .raleway-bold-eerie-black-24px {
    color: var(--eerie-black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-semi-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 600;
    font-style: normal;
  }
  